---
import "../styles/global.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image" href="/hkpug-site/hkpug.jpg" />
    <title>Hong Kong Python User Group</title>
    <script>
      import { setLocaleCookie, getLocaleFromCookie } from "../utils/locales";

      const preferredLocale = getLocaleFromCookie();
      setLocaleCookie(preferredLocale);

      // Get the base path from document
      const currentOrigin = window.location.origin; // includes protocol, hostname, and port
      const newUrl = `${currentOrigin}${import.meta.env.BASE_URL}/${preferredLocale}`;
      console.log(`Redirecting to ${preferredLocale}...`);
      window.location.replace(newUrl);
    </script>
  </head>
  <body> </body>
</html>
